<main class="form">
  <div class="tabs">
    <ul class="tabs__caption">
      <li class="active">SIGN IN</li>
      <li>SIGN UP</li>
    </ul>

    <div class="tabs__content active">
      <div class="form-wrapper">
        <div class="form__field">
          <input type="text" name="email" id="email" placeholder="&nbsp;" [(ngModel)]="userName"/>
          <label for="email">Email</label>
        </div>
        <div class="form__field">
          <input class="" type="password" name="password" id="password" placeholder="&nbsp;" [(ngModel)]="password"/>
          <label for="password">Password</label>
        </div>
        <button class="btn btn--block btn--lightblue w-100" (click)="loginClick()">CONTINUE</button>
      </div>
    </div>

    <div class="tabs__content">
      <div class="form-wrapper">
        <div class="form__field">
          <input type="text" name="fullName" id="fullName" placeholder="&nbsp;" [(ngModel)]="userName"/>
          <label for="fullName">userName</label>
        </div>
        <div class="form__field">
          <input type="text" name="email" id="email1" placeholder="&nbsp;" [(ngModel)]="eMail"/>
          <label for="email1">Email</label>
        </div>
        <div class="form__field">
          <input type="password" name="password" id="password1" placeholder="&nbsp;" [(ngModel)]="password"/>
          <label for="password1">Password</label>
        </div>
        <button class="btn btn--block btn--lightblue w-100" (click)="registerClick()">CONTINUE</button>
      </div>
    </div>
  </div>
  
</main>