@import "../../../../assets/scss/fonts";




.dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  &.is-visible {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#fff, .6);
    z-index: 0;
    pointer-events: none;
  }
}

.dialog {
  width: 327px;
  min-height: 150px;
  background-color: #2A2E43;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &__btn {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__text {
    font-size: 24px;
    line-height: 1.625;
    font-weight: 500;
    color: white;
    text-align: left;
    margin: auto 0;
    justify-self: center;
    max-width: 226px;
  }

  &__image {
    height: 80px;
    width: 80px;
    border-radius: 12px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    align-self: center;
    position: relative;
  }

  &__rating {
    height: 25px;
    width: 25px;
    line-height: 25px;
    background-color: #3ACCE1;
    border-radius: 12px 0 12px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #fff;
    text-align: center;
  }

  &__fullname {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: 20px 0;
  }

  &__price {
    padding: 20px 0;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      height: 1px;
      background-color: rgba(#fff, .05);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }

  &__rate {
    padding-top: 20px;
    text-align: center;
  }

  &__title {
    font-size: 16px;
    color: rgba(#fff, .56);
    margin-bottom: 10px;
  }

  &__stars {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
  }

  &__star {
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    -webkit-mask: url(/assets/img/icons/star.svg) no-repeat center / contain;
    background-color: #464E63;
    cursor: pointer;
    transition: all .1s ease-in-out;

    &.is-selected {
      background-color: #FFB900;
    }
  }
}





.location {
  background: url(/assets/img/map.png) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 140px;
    background-image: linear-gradient(to bottom, rgba(#fff,1),rgba(#fff, 0));
  }

  &__confirm {
    background-color: #2A2E43;
    border-radius: 12px 12px 0 0;
    padding: 22px 18px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 134px;
      height: 3px;
      background-color: rgba(#fff, .2);
      right: calc(50% - 67px);
      bottom: 10px;
      border-radius: 4px;
    }
  }

  &__text-secondary {
    font-size: 14px;
    color: rgba(#fff, .56);
  }
  &__text-primary {
    color: #fff;

    &:nth-last-child(2) {
      font-weight: 300;
    }
  }

}